/* font-family 'Roboto', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wgh@300;700&display=swap');
.container {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}
.sekcja1 {
    height: 100vh;
}

.rectangle {
    position: absolute;
    width: 1280px;
    height: 50px;
    background: #4E4E4E;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}
.tekst {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #F1F1F1;
}
button {
    position: absolute;
    background: none;
    border: none;
    margin-bottom: 5px;
}
.mojafirma {
    margin-left: 94px;
}
.onas {
    margin-left: 943px;
}
.oferta {
    margin-left: 1034px;
}
.kontakt {
    margin-left: 1129px;
}
.homepage {
    width: 1280px;
    height: 574px;
    background: rgba(0, 0, 0, 0.15);
    background-image: url("psy.jpg");
    background-size: cover;
}
.background {
    position: relative;
}
.introduction {
    position: absolute;
    margin-left: 94px;
    top: 178px;
    color: #FFFFFF;
    width: 577px;
    height: 46.11px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    display: flex;
    align-items: center;
}
.introduction1 {
    position: absolute;
    margin-left: 94px;
    top: 286.29px;
    color: #FFFFFF;
    width: 276px;
    height: 23.13px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
}
.oferta1 {
    position: absolute;
    margin-left: 94px;
    top: 352.26px;
    background: none;
    width: 164px;
    height: 40.74px;
    border: 3px solid #FFFFFF;
}
.przycisk {
    width: 49px;
    height: 12.8px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}
.okno {
    position: absolute;
    width: 1280px;
    height: 700px;
    background: #F1F1F1;
    margin-left: 90px; 
}
.specjaliści {
    position: absolute;
    width: 386px;
    height: 35px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #152D41;
    margin-left: 124px;
    margin-top: 51px;
}
.ellipse1 {
    position: absolute;
    width: 197px;
    height: 197px;
    border-radius: 50%;
    background: #917D7D;
    margin-top: 407px;
    margin-left: 993px;
}
.ellipse2 {
    position: absolute;
    width: 197px;
    height: 197px;
    border-radius: 50%;
    background: #917D7D;
    margin-top: 164px;
    margin-left: 95px;
}
.usługi {
    position: absolute;
    width: 1280px;
    height: 689px;
    background: #405D78;
    margin-left: 90px;
}
.services {
    position: absolute;
    width: 501px;
    height: 42px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
    margin-left: 110px;
    margin-top: 50px;
}
.box {

    width: 198px;
    height: 193.78px;
    background-color: #F1F1F1;
    display: flex;
    flex-flow: wrap;
}

   

