div {
    margin-left: auto;
    margin-right: auto;
}
.sekcja1 {
    height: 100vh;
}
.rectangle {
    position: absolute;
    width: 1280px;
    height: 50px;
    background: #4E4E4E;
    margin-left: auto;
    margin-right: auto;
}
.mojafirma {
    position: absolute;
    width: 88px;
    height: 29px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    margin-left: 94px;
    margin-top: 10px;
}
.onas {
    position: absolute;
    width: 45px;
    height: 29px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #F1F1F1;
    margin-left: 943px;
    margin-top: 9.83px;
}
.oferta {
    position: absolute;
    width: 49px;
    height: 21px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #F1F1F1;
    margin-left: 1034px;
    margin-top: 13px;
}
.kontakt {
    position: absolute;
    width: 61px;
    height: 21px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #F1F1F1;
    margin-left: 1129px;
    margin-top: 13.83px;
}