.strona1 {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}
.sekcja1 {
    height: 100vh;
}
.rectangle {
    position: absolute;
    width: 1280px;
    height: 50px;
    background: #4E4E4E;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}
.tekst {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #F1F1F1;
}
button {
    background: none;
    border: none;
    margin-bottom: 5px;
}
.mojafirma {
    margin-left: 94px;
}
.onas {
    margin-left: 700px;
}
.oferta {
    margin-left: 80px;
}
.kontakt {
    margin-left: 80x;
}
.homepage {
    width: 1280px;
    height: 574px;
    background: rgba(0, 0, 0, 0.15);
    background-image: url("psy.jpg");
    background-size: cover;
}
.background {
    position: relative;
}
.introduction {
    position: absolute;
    margin-left: 94px;
    top: 178px;
    color: #FFFFFF;
    width: 577px;
    height: 46.11px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    display: flex;
    align-items: center;
}
.introduction1 {
    position: absolute;
    margin-left: 94px;
    top: 286.29px;
    color: #FFFFFF;
    width: 276px;
    height: 23.13px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
}
.oferta1 {
    position: absolute;
    margin-left: 94px;
    top: 352.26px;
    background: none;
    width: 164px;
    height: 40.74px;
    border: 3px solid #FFFFFF;
}
.przycisk {
    width: 49px;
    height: 12.8px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}
.okno {
    width: 1280px;
    height: 574px;
    background: #F1F1F1;
    margin-left: auto;
    margin-right: auto;
}
